body{
    margin: 0px;
    padding: 0px;
}

.row-header{
    margin: 0px;
	padding: 0px;
	border:px solid black;
   
}
.main-logo{
 height: 180px;
padding-left: 70px;
padding-top: 10px;

}
.logo{
	height: 180px;
    width: 150px;
    position:absolute;
    left:20%;
}
.main-title{
 
	border:px solid black;
    text-align: center;
}
.contact{

border:px solid black;	
text-align:left;
padding: 50px 0px 50px 70px;    
}

.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
    
     
}  

.navbar-inverse {
     background: #303F9F;
     width: 100%;
     height: 10px;
     border-radius: 0px;
    margin: 0px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}
.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}


.slide{
     height: 500px;
     width: 100%;
    background-image: url(img/jnvk.jpg);
    background-size:cover;
    background-attachment:inherit;
    
    margin: 0px;    
    border:px solid black;
  
}
.panel{
    margin-top: 40px;
}
.panel-title{
    text-align: center;
}
.panel-body{
    margin: 0px;
    height: 360px;
    overflow-y:hidden;
}
.section{
    height: 500px;
    background-color:lightslategrey;
    background-attachment: fixed;
}
.intro {
    margin: 40px 10px;
     background-color:white;
    height:400px;
    border-radius: 5px;
    border: px solid black;
}
.intro-title{
    position: relative;
    left: -25px;
    top:-2px;
    margin: 0px;
    text-align: left;
    padding: 25px;
    padding-left: 20px;
    width: 200px;
    color: white;
    height: 80px;
    background-color: #428bca;
    
}
.introduction{
    height: 315px;
    padding: 20px 40px;
    text-align:justify;
    background-color: white;
    
    
}
.introduction p{
    font-size: 18px;
    line-height: 200%;
}
.row-section1{
    height: 500px;
    background-image: url(img/new-school-year-bg.jpg);
    background-attachment:fixed;
    background-size: cover;
}
.section1{
  height: 500px;
    background-color:;

    
}
.jnvlife{
    height: 300px;
    margin:30px 50px;
    padding:0px;
   
}
.jnvlife_title{
    height: 80px;
    padding: 20px;
    width: 200px;
    margin: 0px;
    color: white;
    margin-left: -20px;
    background-color: #428bca;
}
.row-section2{
    height: 500px;
    background-image: url(img/peace.jpg);
    background-attachment:fixed;
    background-size:cover;
}
.section2{
    height: 240px;
    margin-top: 380px;
    border: px solid black;
   
}
.contain1{
    margin: 50px 80px;
    border-bottom: 3px solid black;
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 100px;
     z-index: 1;
    background-image: url(img/jnv1.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.contain2{
   margin: 50px 80px;
   border-bottom: 3px solid black;
     height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 100px;
     z-index: 1;
    background-image: url(img/gallery.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;  
}
.contain3{
   margin: 50px 80px;
   border-bottom: 3px solid black;
     height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 100px;
     z-index: 1;
    background-image: url(img/download.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;  
}
.contain4{
   margin: 50px 80px;
   border-bottom: 3px solid black;
     height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 100px;
    z-index: 1;
    background-image: url(img/map.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;  
}
.row-footer{
    height:450px;
   
    background-image: url(img/jnvktr.jpg);
    background-size: cover;
    background-attachment:inherit;
    border:px solid black;
   
    
}
.footer{
     height:450px;
    margin-top:-120px;
   background-color:black;
    opacity:.6 ;
     border:px solid blue;
}
.footer-contain{
    margin-top: 160px;
    height:290px;
    border-radius: 10px;
     background-color:white;
}
.address1{
    height: 230px;
    padding: 30px;
     font-size: 15px;
    margin:0px 50px;
    margin-top: 30px;
    color:black;
    background-color:;
    z-index: 1000;
    border: 1px solid black;
}
.address2{
     height: 230px;
    padding-top: 30px;
     text-align:center;
     font-size: 15px;
    margin:0px 50px;
    margin-top: 30px;
    color: black;
    background-color:;
    z-index: 1000;
    border: 1px solid black;
}
.address3{
  height: 230px;
    text-align:center;
    font-size: 15px;
    padding-top: 30px;
    margin:0px 50px;
    margin-top: 30px;
    color:black;
    background-color:;
    z-index: 1000;
    border: 1px solid black;  
}
.address3 a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.address2 a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}